@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Julian Flores</h1>
    <img src="https://www.realmadrid.com/StaticFiles/RealMadridResponsive/images/static/og-image.png"/>
</div>
